body {
    font-family: sans-serif;
}

video, img {
    max-width: 50%;
}

pre {
    max-width: 100%;
    max-height: 500px;
    overflow: scroll;
}

@media screen and (max-width: 700px) {
    video, img {
        max-width: 100%;
    }
    
}
